/**
 * @Author: Md Nazmus Shakib
 * @Date:   2021-11-16 21:59:49
 * @Last Modified by:   Md Nazmus Shakib
 * @Last Modified time: 2021-11-19 21:13:48
 */

.wrapper-padding {
    padding: 1% 1% 1% 1%;
}

.table-img {
    width: 60px;
    height: auto;
}

.loading-icon {
    width: 100px;
    height: auto;
}
